#intro {
  min-height: 100vh !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 18%;
}

#introTitle {
  font-size: 64px;
  padding-bottom: -20px;
  color: var(--text);
}

.Typewriter {
  font-size: 64px;
  padding-bottom: -20px;
  color: var(--text);
}

.Typewriter__cursor {
  color: var(--redAccent)
}

#introSubtitle {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--subText);
}

#introDescription {
  color: var(--subText);
}