@media only screen and (max-width: 600px) {
  #projects {
    margin-top: 400px;
  }
}

.projectCard {
  transform: translateY(0px);
  transition: transform 0.2s ease-in-out;
}

.projectCard:hover {
  transform: translateY(-10px);
}

.githubLink {
  color: white !important;
}

.githubLink::after {
  content: '' !important;
}

.githubLink:hover::after {
  width: 0% !important;
}

.projectTitle {
  font-size: 1.8rem;
  margin-top: 10px;
  padding-bottom: 6px;
  color: var(--text);
}

.projectDescription {
  font-size: 1rem;
  padding-bottom: 6px;
  color: var(--subText)
}

.projectStack {
  color: var(--redAccent) !important;
}