

body {
  background-color: var(--background);
  color: var(--text);
}

section {
  min-height: 60vh;
  max-width: 760px;

  overflow-x: visible !important;
}

.maxWidthSection {
  max-width: 100% !important;
}

.fadeInSection {
  opacity: 0;
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
  will-change: opacity, visibility;
}

.isVisible {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  visibility: visible;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: '\00BB';
  padding-right: 5px;
  color: var(--red);
}

a {
  text-decoration: none;
  color: var(--red);
  display: inline-block;
}

a:hover {
  color: var(--red);
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 1.4px;
  background: var(--redAccent);
  transition: width .2s ease-in;
  margin-top: -1px;
}

a:hover::after {
  width: 100%;
}

footer {
  text-align: center;
  line-height: 6px;
  padding: 10px;
  font-size: 12px;
  margin-top: 20vh;
}

#homeSection {
  min-height: 100vh !important;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 18%;
}

#aboutMeSection {
  font-size: 1.1rem;
}

.homeTitle {
  font-size: 64px;
  padding-bottom: -20px;
}

.homeSubTitle {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--subText);
}

.name {
  color: var(--red);
}

.sectionTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 20px;
}

.sectionTitle {
  flex-grow: 0;
  margin-right: 10px;
  font-size: 32px;
}

.divider {
  flex-grow: 1;
  margin-top: 6px;
  height: 1px;
  background-color: var(--subText);
  opacity: 0.3;
}